<aside class="side-dense">

  <!-- Botón Volver -->
  <button class="icon-btn ghost" aria-label="Volver"  (click)="onIrInicio()">
    <i class="pi pi-arrow-left"></i>
  </button>

  <!-- Botón Menú -->
  <button class="icon-btn active" aria-label="Menú">
    <i class="pi pi-bars"></i>
  </button>

  <div class="btn-group">
    <!-- Buscar -->
    <button class="icon-btn" aria-label="Buscar">
      <i class="pi pi-search"></i>
    </button>

    <!-- Idioma -->
    <button class="icon-btn" aria-label="Idioma">
      <i class="pi pi-globe"></i>
    </button>

    <!-- Entrar / Salir -->
    <button class="icon-btn" aria-label="Entrar/Salir">
      <i class="pi pi-sign-in"></i>
      <!-- si quieres alternar entre entrar/salir:
           <i class="pi pi-sign-out"></i> -->
    </button>
  </div>
</aside>
