<p-panel header="Selección geográfica" styleClass="panel-tight" >
  <small class="muted">Consulta las estadísticas más recientes del sector agrario</small>

  <label>Departamento*</label>
  <p-dropdown
    [options]="departamentos"
    optionLabel="name"
    optionValue="code"
    placeholder="Departamento"
    [filter]="true"
    filterPlaceholder="Buscar departamento"
    [filterBy]="'name'"
    [showClear]="true"
    [appendTo]="'body'"
    panelStyleClass="dep-panel"
    (onChange)="onDepartamentoChange($event)"
  >
  </p-dropdown>


  <label>Provincia*</label>
  <p-dropdown
    [options]="provincias"
    optionLabel="name"
    optionValue="code"
    placeholder="Provincia"
    [showClear]="true"
    [filter]="true"
    [appendTo]="'body'"
    panelStyleClass="dep-panel"
    (onChange)="onProvinciaChange($event)"
  >
  </p-dropdown>


</p-panel>
