<div class="indice-region">
  <!-- Contenedor del gráfico -->
  <div id="container-region"></div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-region">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Productores</th>
          <th>Hectárea</th>
          <th>Parcelas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaDatos">
          <td>{{ fila.ddescr }}</td>
          <td>{{ fila.productores }}</td>
          <td>{{ fila.hectarea }}</td>
          <td>{{ fila.parcelas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
