<form [formGroup]="formBusqueda" >

  <div class="search">
    <input
      pInputText
      type="text"
      formControlName="dni"
      placeholder="Ingresar DNI (8 dígitos)"
      maxlength="8"
      (keydown.enter)="onSearchDni()" />

    <button
      type="button"
      class="icon-btn search-btn"
      aria-label="Buscar DNI"
      title="Buscar DNI"
      (click)="onSearchDni()">
      <i class="pi pi-search"></i>
    </button>

    <button
      type="button"
      class="icon-btn clear-btn"
      aria-label="Limpiar DNI"
      title="Limpiar"
      (click)="onClearDni()">
      <i class="pi pi-times"></i>
    </button>
  </div>

  <div class="msg-error" *ngIf="formBusqueda.get('dni')?.touched && formBusqueda.get('dni')?.invalid ">

    <div *ngIf="formBusqueda.get('dni')?.errors?.['required']">
      DNI no debe estar vacío.
    </div>

    <div *ngIf="formBusqueda.get('dni')?.errors?.['minlength'] || formBusqueda.get('dni')?.errors?.['maxlength']">
      DNI debe tener 8 dígitos.
    </div>

    <div *ngIf="formBusqueda.get('dni')?.errors?.['pattern']">
      Solo se permiten números.
    </div>

  </div>
  <div class="msg-error" *ngIf="formBusqueda.get('dni')?.touched   && !this.existeProductor">

    <div >
      Dni no encontrado.
    </div>

  </div>
</form>
<ng-container *ngIf="mostrarProductor">
  <p-panel styleClass="producer-panel" [toggleable]="false">

    <!-- BODY -->

    <div class="panel-body">
      <div class="panel-header">
        <span class="section-title">Datos del Productor</span>

        <span class="header-icon">
                <i class="pi pi-info-circle"></i>
              </span>
      </div>

      <div class="field-row"><span class="field-label">DNI: {{productor?.TXT_NRODOC??''}}</span></div>
      <div class="field-row"><span class="field-label">Apellidos: {{productor?.APELLIDOPA??''}}</span></div>
      <div class="field-row"><span class="field-label">Nombres: {{productor?.NOMBRES??''}}</span></div>

      <p-divider></p-divider>

      <div class="panel-header">
        <span class="section-title">Ubicación parcela principal del productor</span>
      </div>


      <table class="tabla-region">
        <thead>
        <tr>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Ubigeo</th>
          <th>Ubicación</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fila of parcelas">
          <td>{{ FormatUtil.formatInteger2Digitos (fila.attributes.LAT ) }}</td>
          <td>{{ FormatUtil.formatInteger2Digitos (fila.attributes.LONG_) }}</td>
          <td>{{ this.ubigeoService.getNombre(fila.attributes.UBIGEO3)  }}</td>
          <td class="cell-center">
            <i class="pi pi-search" (click)="verParcela(fila)"></i>
          </td>

        </tr>
        </tbody>
      </table>

    </div>



    <!-- FOOTER -->
    <ng-template pTemplate="footer">
      <div class="panel-footer">
        <button type="button" pButton label="Cerrar" class="close-btn p-button-outlined"
                (click)="onCerrar()"
        ></button>
      </div>
    </ng-template>

  </p-panel>
</ng-container>
