<div class="indice-fertilizante">
  <!-- Contenedor del gráfico -->
  <div id="container-fertilizante"></div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-fertilizante">
      <thead>
        <tr>
          <th>Jurisdicción</th>
          <th>Parcelas</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaDatos">
          <td class="num-col">
            {{ FormatUtil.formatInteger(fila.ubigeo) }}
          </td>
          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.parcelas) }}
          </td>
           <td>
              <button mat-raised-button color="primary" (click)="abrirDialogoExportar(fila.ubigeo)">
                Export
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
