<div class="indice-tamparce">
  <!-- Contenedor del gráfico -->
  <div id="container-tamparce"></div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-tamparce">
      <thead>
        <tr>
          <th>Jurisdicción</th>
          <th>Parcelas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaDatos">
          <td>{{ fila.ubigeo }}</td>
          <td>{{ fila.parcelas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
