<h2 mat-dialog-title>Registros para {{ titleSeleccionado }}</h2>
<h4 class="ml-4 mt-2">Tipo: {{ tipoSelected }}</h4>

<mat-dialog-content>
  <div *ngIf="cargando" class="spinner-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <table *ngIf="!cargando" mat-table [dataSource]="dataSource" class="mat-elevation-z2">
    <ng-container matColumnDef="OBJECTID">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ i + 1 + paginator.pageIndex * paginator.pageSize }}
      </td>
    </ng-container>

    <ng-container matColumnDef="NOMBRES">
      <th mat-header-cell *matHeaderCellDef>NOMBRES</th>
      <td mat-cell *matCellDef="let row">{{ row.NOMBRES }}</td>
    </ng-container>

    <ng-container matColumnDef="APELLIDOPA">
      <th mat-header-cell *matHeaderCellDef>APELLIDO PATERNO</th>
      <td mat-cell *matCellDef="let row">{{ row.APELLIDOPA }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>

  <mat-paginator
    [length]="totalRegistros"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons>
  </mat-paginator>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="exportarTodo()" [disabled]="cargando">Exportar todo</button>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
