<div class="indice-centros">
  
  <div id="container-centros"></div>

  <div class="tabla-wrapper">
    <table class="tabla-centros">
      <thead>
        <tr>
          <th>Centro</th>
          <th>Cantidad</th>
          <th>Ver en Mapa</th>
          <th>Datos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categorias; let i = index">
          <td>{{ c }}</td>
          <td>{{ valores[i] }}</td>
          <td>
            <label class="switch">
              <input
                type="checkbox"
                [checked]="activeReg === c"
                (change)="toggleCluster($event, c)"
              />
              <span class="slider"></span>
            </label>
          </td>
          <td>
              <button mat-raised-button color="primary" (click)="abrirDialogoExportar(c)">
                📄
              </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>





