<!-- GRID PRINCIPAL -->
<div class="content-grid" [class.left-collapsed]="isCollapsed">
  <!-- IZQUIERDA -->

  <app-sidebar
    #sidebar
    [(isCollapsed)]="isCollapsed"
    [activeSection]="activeSection"
    (buscarDni)="onBuscarDni()"
    (limpiarDni)="onLimpiarDni()"
    (sectionSelected)="onSelectSection($event)">
  </app-sidebar>


  <!-- TOP-WIDE -->
  <section class="top-wide">
    <div class="topbar">
      <div class="topbar-right">
        <p-avatar label="RA" shape="circle" styleClass="usr-avatar" (click)="menu.toggle($event)"></p-avatar>
        <p-menu #menu [model]="items" [popup]="true" />
        <div class="usr-info">
          <div class="usr-name">Roberto Aranda</div>
          <div class="usr-role">Analista del Sistema</div>
        </div>

      </div>
    </div>
  </section>


  <!-- CENTRO: MAPA -->
  <main class="center-map">
    <div id="mapContainer" class="map">
      <app-mapa></app-mapa>

    </div>
    <app-consulta-multiple ></app-consulta-multiple>
    <app-analisis-espacial></app-analisis-espacial>
  </main>

  <!-- DERECHA -->
  <app-side-right
    #sideright
    [activeSection]="activeSection"
  >
  </app-side-right>


</div>
<app-loader></app-loader>
