<div class="indice-tipoactiv">
  <!-- Contenedor del gráfico -->
  <div id="container-tipoactiv" ></div>


  <div style="margin-bottom: 15px;">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Tipo de fertilizante</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="filtrarPorCategoria()">
        <mat-option *ngFor="let cat of categorias" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-tipoactiv">
      <thead>
        <tr>
          <th>Regiones</th>
          <th>Productores</th>
          <th>Parcelas</th>
          <th>Datos</th>
          <th>Ver en Mapa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaFiltrada">
          <td>{{ fila.ubigeo }}</td>
          <td class="num-col">
            {{ FormatUtil.formatInteger(fila.productores) }}
          </td>
          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.parcela) }}
          </td>
          <td>
            <button
              mat-icon-button
              color="primary"
              class="mini-icon"
              matTooltip="Exportar a Excel"
              (click)="abrirDialogoExportar(fila.ddescr)"
            >
              <mat-icon>file_download</mat-icon>
            </button>
          </td>
          <td>

            <mat-slide-toggle
              color="primary"
              [checked]="activeReg === fila.ddescr"
              (change)="toggleCluster($event, fila.ddescr)"
              class="small-toggle"
            ></mat-slide-toggle>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
