<div class="indice-tipoactiv">
  <!-- Contenedor del gráfico -->
  <div id="container-tipoactiv" ></div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-tipoactiv">
      <thead>
        <tr>
          <th>Descripción</th>
          <th>Productores</th>
          <th>Hectárea</th>
          <th>Parcelas</th>
          <th>Ver en Mapa</th>
          <th>Datos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaDatos">
          <td>{{ fila.ddescr }}</td>
          <td class="num-col">
            {{ FormatUtil.formatInteger(fila.productores) }}
          </td>
          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.hectarea) }}
          </td>
          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.parcelas) }}
          </td>
          <td>
            <label class="switch">
              <input
                type="checkbox"
                [checked]="activeReg === fila.ddescr "
                (change)="toggleCluster($event, fila.ddescr )"
              />
              <span class="slider"></span>
            </label>
          </td>
          <td>
            <button mat-raised-button color="primary" (click)="abrirDialogoExportar(fila.ddescr )">
              Export
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
