<div class="indice-cultivperm">
  <!-- Contenedor del gráfico -->
  <div id="container-cultivperm"></div>

  <div style="margin-bottom: 15px;">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Tipo de actividad</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="filtrarPorCategoria()">
        <mat-option *ngFor="let cat of categoriasOrdenadas" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Tabla con los datos -->
  <div class="tabla-wrapper">
    <table class="tabla-cultivperm">
      <thead>
        <tr>
          <th>Jurisdicción</th>
          <th>Hectáreas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fila of tablaFiltrada">
          <td class="num-col">
            {{ fila.ubigeo }}
          </td>

          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.parcela) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
