<div class="indice-princult">
  <div id="container-princult"></div>

  <button class="btn-tematico" (click)="aplicarColoresTematico()">
    Ver temático
  </button>

  <div style="margin-bottom: 15px;">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Tipo de actividad</mat-label>
      <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="filtrarPorCategoria()">
        <mat-option *ngFor="let cat of categoriasOrdenadas" [value]="cat">
          {{ cat }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="tabla-wrapper">
    <table class="tabla-princult">
      <thead>
        <tr>
          <th>Regiones</th>
          <th>Hectáreas</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let fila of tablaFiltrada">
          <td class="num-col">
            {{ fila.ubigeo }}
          </td>
          <td class="num-col">
            {{ FormatUtil.formatInteger2Digitos(fila.parcela) }}
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr class="fila-total">
          <td><strong>Total</strong></td>
          <td class="num-col">
            <strong>{{ FormatUtil.formatInteger2Digitos(totalHectareas) }}</strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>